[Librerías pesadas de Unity]
Library/
Temp/
Logs/
Obj/
Build/
Builds/
UserSettings/
Packages/com.unity.package-manager-ui/

[Firebase Plugins grandes]
Assets/Firebase/Plugins/x86_64/*.so
Assets/Firebase/Plugins/x86_64/*.bundle

[Otros]
*.csproj
*.sln
*.user
*.apk
